/Include/pds/DataTypes.h
/Include/pds/DataValuePointers.h
/Include/pds/EntityReader.h
/Include/pds/EntityWriter.h
/Include/pds/ValueTypes.h
.vs
__pycache__
x64
*.user
/build

/Include/pds/DataTypes.inl
/Include/pds/DynamicTypes.inl
/Include/pds/EntityReader.inl
/Include/pds/EntityWriter.inl
/Include/pds/ValueTypes.inl

/Tests/DynamicTypesTests.cpp
/Tests/TestPack1
/Tests/TestPack2
/Tests/TestPack3